.marquee-slider-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
  }
  
  .marquee-slider {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
  }
  
  .marquee-slide {
    flex: 0 0 auto;
    padding: 0 10px;
  }
  
  .marquee-slide img {
    width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  /* Keyframes for smooth horizontal scroll */
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  