@font-face {
  font-family: "Poppins";
  src: url("/font/poppins.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/jakarta.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("/font/dmsans.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope", sans-serif;
  src: url("/font/manrope2.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/font/opensans.woff2") format("woff2");
  /* Add additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'ui-sans-serif', 'system-ui';
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}
.carousel .slide {
  background: white !important;
}

.selected > div {
    /* border: 4px solid firebrick; */
    /* scale: 1.; */
    /* background-color: lightgoldenrodyellow; */

}

.carousel.carousel-slider .control-arrow {
  /* background: #556ee6 !important;
  z-index: 10 !important;
  color: yellow !important; */
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
