
body {
  font-family: "ui-sans-serif", "system-ui";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
.carousel .slide {
  background: white !important;
}
.imgcrsl .carousel .slide img {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}

.imgcrsl .carousel .slider-wrapper.axis-horizontal .slide {
  height: 400px;
}

.crsldetails .carousel .slider-wrapper.axis-horizontal .slide img {
  height: 420px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .crsldetails .carousel .slider-wrapper.axis-horizontal .slide img  {
      height: 520px;
  }
  }
.roboto-text {
  font-family: "Roboto", sans-serif;
}
.mont-text {
  font-family: "Montserrat", sans-serif;
}
.grotesk-text {
  font-family: "Space Grotesk", sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
